---
import '../styles/global.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ranegray.com</title>
	</head>
	<body>
		<h1>hey, i'm rane.</h1> 
		<p>i'm a computer science student at CU Boulder and i'm passionate about robotics.</p>
		
		<section>
			<h2>projects</h2>
			<h3>hide & seek robot</h3>
			<p>a gamified robotics project that combines ROS 2, computer vision, and interactive gameplay. using an iRobot Create 3 and Raspberry Pi 4 to build an autonomous system that can navigate an apartment, recognize objects, and turn everyday object finding into an engaging game.</p>
			<p><strong>technologies:</strong> ros2 humble, python, opencv, irobot create3, raspberry pi 4, linux</p>
		</section>

		<section>
			<h2>blog</h2>
			<p>coming soon...</p>
		</section>

		<section>
			<h2>about</h2>
			<p>i build things with computers and robots. currently studying algorithms, linear algebra, and logic at CU Boulder.

			</p>
		</section>

		<section>
			<h2>contact</h2>
			<p>email: <a href="mailto: ranegray@outlook.com">ranegray@outlook.com</a></p>
			<p>github: <a href="github.com/ranegray">ranegray</a></p>
		</section>

		<footer>
			<p>© 2025 rane gray</p>
		</footer>
	</body>
</html>
