---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Puffy-Parsec</title>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/about/">about</a>
		<a href="/blog/">blog</a>

		<h1>hey, i'm rane 👋</h1>
		<h2>frontend engineer & writer</h2>
		<p>currently sharping my technical skills and expertise.</p>
		
		<section>
			<h2>projects</h2>
		</section>
	</body>
</html>
