---
import '../styles/global.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ranegray.com</title>
	</head>
	<body>
		<!-- <a href="/">home</a>
		<a href="/about/">about</a>
		<a href="/blog/">blog</a> -->

		<h1>hey, i'm rane.</h1> 
		<p>i'm an amateur roboticist, programmer, writer, rock climber and runner. amateur at all that stuff.</p>
		
		<section>
			<!-- <h2>featured</h2> -->
		</section>
	</body>
</html>
